html {
  min-height: 100%;
}

.header {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #EAE5E4;
  font-family: "Comic Sans MS", sans-serif;
  color: black;
}

#content {
  margin: 20px 50px;
}

.delete-btn {
  margin: 0 auto;
  display: block;
}