<!DOCTYPE html>
<html>
  <body>
    <h3>Add a new book</h3>
    <form method="post" enctype="multi-part/form-data" id="bookForm">
      <div class="form-group">
        <label for="bookName">Enter book name</label>
        <input id="bookName"
          type="text"
          class="form-control mt-2 ml-3 col-6"
          name="bookName">
      </div>

      <hr>

      <section>
        <h4>Author</h4>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName"
            type="text"
            class="form-control mt-2 ml-3 col-4"
            name="firstName">
          <label for="lastName">Last Name</label>
          <input id="lastName"
            type="text"
            class="form-control mt-2 ml-3 col-4"
            name="lastName">
        </div>
      </section>

      <hr>

      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input id="isbn"
          type="text"
          class="form-control mt-2 ml-3 col-4"
          name="isbn">
      </div>

      <div class="form-group">
        <label for="summary">Summary</label>
        <textarea id="summary"
          class="form-control mt-2 ml-3 col-8"
          rows=4
          name="summary">
        </textarea>
      </div>

      <button type="submit"
        class="btn btn-success"
        id="post-book-data"
      >Submit</button>
    </form>
  </body>
</html>