<!DOCTYPE html>
<html>
<head>
  <title>Library management page</title>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/PNotifyBrightTheme.css">
  <link rel="stylesheet" href="build/css/main.css">
</head>
<body>
  <div id="app">
    <div id="header"></div>
    <div id="content"></div>
    <div id="footer"></div>
  </div>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/tether/dist/js/tether.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/backbone/backbone-min.js"></script>
  <script src="build/js/main.js"></script>
</body>
</html>
